<!DOCTYPE html>
<html>
<head>

        <title>Muhammed İkbal Karakaya Kişisel Sayfası</title>
        <link href="@Url.Content("~/Content/MyTemplate/")css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@Url.Content("~/Content/MyTemplate/")js/jquery.min.js"></script>
        <!-- Custom Theme files -->
        <link href="@Url.Content("~/Content/MyTemplate/")css/style.css" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Muhammed Ikbal KARAKAYA" />
        <!-- webfonts -->
        <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <!-- webfonts -->
        <!---- start-smoth-scrolling---->
        <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/move-top.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/easing.js"></script>
        <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
        </script>
        <!---- start-smoth-scrolling---->
    </head>

<body>

    <div class="container" >
        <!-- top-hedader -->
        <div class="top-header">

            <div class="top-nav">
                <div class="navigation">
                    <div class="logo">
                        <h1>
                            <a href="home/index"><span>M</span>UIKKA</a>
                        </h1>
                    </div>
                    <div class="navigation-right">
                        <span class="menu"><img src="@Url.Content("~/Content/MyTemplate/")images/menu.png" alt=" " /></span>
                        <nav class="link-effect-3" id="link-effect-3">

                                <ul class="nav1 nav nav-wil">
                                    <li class="active">
                                        <a data-hover="Ana Sayfa" href="@Url.Action("Index","Home")">Ana Sayfa</a>
                                    </li>
                                    <li>
                                        <a  data-hover="Hakkında" href="@Url.Action("about","Home")">Hakkında</a>
                                    </li>
                                    <li>
                                        <a class="scroll" data-hover="Hizmetler" href="services">Hizmetler</a>
                                    </li>
                                    <li>
                                        <a class="scroll" data-hover="Referanslar" href="work">Referanslar</a>
                                    </li>
                                    <li>
                                        <a class="scroll" data-hover="Fotoğraf Galerim" href="port">Fotoğraf Galerim</a>
                                    </li>
                                    <li>
                                        <a class="scroll" data-hover="Blog" href="blogs">Blog</a>
                                    </li>
                                    <li>
                                        <a class="scroll" data-hover="İletişim" href="contact">İletişim</a>
                                    </li>
                                </ul>
                            </nav>
                        <!-- script-for-menu -->
                        <script>
                            $("span.menu")
                                .click(function() {
                                    $("ul.nav1")
                                        .slideToggle(300,
                                            function() {
                                                // Animation complete.
                                            });
                                });
                        </script>
                        <!-- /script-for-menu -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /top-hedader -->
            </div>


            

        </div>
    </div>

    
    @RenderBody()

<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--start-smooth-scrolling-->
    <script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
    </script>
    <!--end-smooth-scrolling-->
    <!-- //for bootstrap working -->

    <script src="@Url.Content("~/Content/MyTemplate/")js/bootstrap.js"></script>
    
<div class="container">
    <div class="copy_right text-center">
        <p>
            &copy; 2016 MuİkKa . All rights reserved | Design by <a href="http://www.muhammedkarakaya.net/" target="_blank">Muhammed İkbal Karakaya.</a>
        </p>
        <ul class="social-icons two">
            <li>
                <a href="#"> </a>
            </li>
            <li>
                <a href="http://www.facebook.com/muikka" class="fb"> </a>
            </li>
            <li>
                <a href="#" class="in"> </a>
            </li>
            <li>
                <a href="#" class="dott"> </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
